{{ if strings.HasPrefix .Destination "http" }}
{{ $altText := .PlainText }}
{{ $imgTitle := .Title }}
<img src="{{ .Destination }}" alt="{{ $altText }}" {{ with $imgTitle }} title="{{ . }}" {{ end }} {{ with .Title }} title="{{ . }}" {{ end }}/>
{{ end }}

{{ if strings.HasPrefix .Destination "/" }}
{{ $myImg := resources.Get .Destination }}
{{ $altText := .PlainText }}
{{ $imgTitle := .Title }}
{{ with $myImg }}
<figure>
	<img src="{{ .Permalink }}" alt="{{ $altText }}" {{ with $imgTitle }} title="{{ . }}" {{ end }} width="{{ .Width }}" height="{{ .Height }}" {{ with .Title }} title="{{ . }}" {{ end }}/>
	{{ with .Title}}<figcaption>{{  $imgTitle | markdownify }}</figcaption>{{ end }}
</figure>
{{ else }}
<p>Image not found {{ $imgTitle }}</p>
{{ end }}
{{ end }}